@import "tailwindcss";
.active {
  background: #f4f4f4;
}
.contianer1 {
  width: 95%;
  margin: auto;
}
img,
button,
i,
input {
  cursor: pointer;
}
.profile {
  right: -100%;
  transition: all 0.5s;
}
#check:checked ~ .profile {
  right: 0%;
}
